body{
  background-color: #ddd;
  font-size: 16px;
}

section{
  padding: 0;
  width:20%;
  min-width: 100px;
  height:100%;
  background-color: white;
  text-align: center;
  margin: 0 10px 10px 10px;
  border: 1px solid red;
}

main{
  padding: 0;
  margin: 0 auto;
}

img{
  background: #ddd;
  padding: 0;
  margin: 10px 0 ;
  border-radius: 80px;
  height: 150px;
  width:75%;
  overflow: hidden;
  /*height: 150px;*/
}

h2{
  padding: 0;
  margin: 0;
  font-size: 1.7em;
  font-weight: bold;
}

.navigation{
  border: 1px solid red;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  background-color: red;
  height:40%;
}

.navigation a{
  background-color: #999;
  height: 50px;
/*stretches the text to occupy entire parent*/
  flex-grow: 1;
  text-align: center;
  
  border:1px solid red;
}

.navigation a:first-child{
  background-color: #eee;
}
.navigation a:last-child{
  background-color: #eee;
}

.header{

  text-align: center;
  background-color: #999;
  margin-top: 0px;
  padding: 0;
  border: 1px solid red;
}

.sections{
  width: 80%;
  display: flex;
  flex-wrap:wrap;

  margin: 0 auto;
  border: 1px solid red;
}

.element{
  margin: 10px 10px;
  min-width: 320px;
}
/*Implementing clear fix, avoids images going beyond parent.*/
.clear:before,.clear:after{
  contet:"";
  display:table;
}
.clear::after{
  clear:both;
}
.clear{
  zoom:1;
}

.proj-title{
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.proj-year{
  padding: 0;
  margin: 0;
  font-size: 1em;
}
