/*
  White : #fff;
  Black : #000;

*/
body{
  background-image: url('sky_pattern.jpg') ;
  display: block;
  background-color: #ddd;
  font-size: 16px;
}


section{
  padding: 0;
  width:20%;
  height:300px;
  background-color: white;
  text-align: center;
  margin: 0 10px 10px 10px;
}

main{
  padding: 0;
  margin: 0 auto;
}

img{
  background: #ddd;
  padding: 0;
  margin: 10px 0 ;
  border-radius: 80px;
  height: 150px;
  width:75%;
  overflow: hidden;
  /*height: 150px;*/
}

h2{
  padding: 0;
  margin: 0;
  font-size: 1.7em;
  font-weight: bold;
}



/*-------------------------
* Styling the header
---------------------------*/
.hero{
  text-align: center;
  background-color: #999;
  color: #fff;
  margin-top: 0px;
  padding: 5px 0;
  border: 1px solid red;
}
/*-------------------------
* Logo
---------------------------*/
.logo{
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}


/*------------------------------------
*  Navigation bar, indexing each page
---------------------------------------*/
.navigation{
  border: 1px solid red;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: red;
  height:40%;
}
.navigation a{
  background-color: #999;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*stretches the text to occupy entire parent*/
  flex-grow: 1;

}
.navigation a:first-child,.navigation a:last-child{
  background-color: #eee;
}
.navigation a:hover{
  background-color: red;
}

.sections{
  width: 80%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 10px auto;
  border: 1px solid red;
}

.element{
  margin: 10px 10px;
  min-width: 320px;
}
/*Implementing clear fix, avoids images going beyond parent.*/
.clear:before,.clear:after{
  contet:"";
  display:table;
}
.clear::after{
  clear:both;
}
.clear{
  zoom:1;
}

.proj-title{
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.proj-year{
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.overlay{
  visibility: hidden;
  opacity: 0;
}
.overlay:active{
  visibility: visible;
  opacity: 1;
}
